.contactos{
	padding-top:2.5%;
	display: flex;
	justify-content:center;
}

form{
	border-radius: 1em;
	background-color: rgb(20, 20, 20);
	width:90%;
    padding: 30px;
    margin: auto;
    text-align: center;
}

label{
    display: block;
    color: white;
    font-size: 2.5vw;
}

textarea{
	resize: vertical;
	max-height: 300px;
	min-height: 50px;
}

input,textarea{
	width: 90%;
	margin: 10px;
	padding: 10px;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
}
input[type="submit"]{
	margin-bottom: 0px;
	background: crimson;
	color:white;
	border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
}