
#blog{
  padding: 1em;
  padding-left: 2em;
}
#blog header{
  margin-bottom: 1em;
}

#slideshow{
  display: flex;
}

.control-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: relative;
}
  
#slideshow-cont{
  width: 300%;
  height: 40%;
  display: flex;
}

.mySlides {
  width: 33.333%;
  transition: 2s;
}

.mySlides img{
  height: 100%;
  width: 100%;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  
.next {
  right: 0;
}
  
.prev:hover, .next:hover {
  transform: scale(2);
  transform-origin: center;
}

.text {
  color: #f2f2f2;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

#dot-cont{
  left: 47%;
  position: absolute;
  bottom: 10px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: red;
}