*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
#header{
    background-color: rgb(20,20,20);
    text-align: center;
}
.menu_bar{
    display: none;
}
#header div{
    max-width: max-content;
    margin-left: 1.3em;
}
#header h1{
    margin-left: 1em;
    max-width: min-content;
}
#ctf{
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrold', sans-serif;
    font-weight: bold;
    font-size: 13vw;
}
#maniacs{
    font-weight: 100;
    font-size: 14vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#bienvenida{
    margin-top: 0.5vh;
    max-width: max-content;
    font-size: 2.5vw;
}
#header #linea{
    padding-top: 1em;
    margin:0 auto;
    min-width: 90%;
}
#barra{
    background-color: rgb(20,20,20);
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
}
#barra ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 80%;
}
#barra ul li{
    padding: 1em;
    width: max-content;
    list-style: none;
    text-align: center;
    flex: 1;
    display: inline-block;
}
#barra ul li a{
    text-decoration: none;
}
#barra ul li:hover{
    background-color: crimson;
    font-weight: bold;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
body{
    background-color: crimson;
}
#contenedor{
    float: left;
    width: 70%;
    padding: 1em;
  }

h2{
    font-size: 7vw;
}
section header p{
    font-size: 2vw;
}


h3{
    min-height: 4vw;
    margin-bottom: 1em;
}

button{
    background-color: crimson;
    border: none;
    padding: 0.7em 1em;
    border-radius: 0.5em;
}

#top h4{
    margin-bottom: 0.5em;
}
#ausilio{
    padding-bottom: 24em;
}
footer{
    clear: both;
    width: 100%;
    background-color: rgb(20,20,20);
}
footer a{
    text-decoration: none;
}
#f{
    width: max-content;
    margin: auto;
    padding: 1em;
}
.social{
    display: inline-block;
}
.social img{
    width: 15px;
}